.jumbotron {
    background-position:center ;
    min-height: 700px;
}

.form-control[type=text]{width:730px !important;} {
    
}

.agent-name{
    align-items: left;
}

.agent-intro {
    padding-left: 20px;
    padding-bottom: 10px;
    width: 60%;
    position: relative;
}

.agent-contact-card-wrapper {
    position: relative;
    left: 820px;
    top: -340px;
}

.carousel-inner {
    width: 1400px;
    padding-left: 200px;
    margin-bottom: 340px;
    top: -150px;
}

.add-testimonial {
    padding-left: 200px;
    padding-right: 200px;
    
}

.form-button{
    padding-top: 20px;
    padding-left: 600px;
    
}

.search-homes {
    padding-top: 200px;
    padding-right: 200px;
}

.search-form {
    padding-top: 90px;
}

.sort-options {
    padding-bottom: 30px;
} 

.radius-search {
    padding-bottom: 30px;
}

.search-textbox {
    padding-bottom: 20px;
}

#formControlRange {
    padding-bottom: 20px;
}

.min-price-input {
    padding-bottom: 20px;
}

.max-price-input {
    padding-bottom: 20px;
}

.mls-input {
    padding-bottom: 20px;
}

