nav {
    max-width: 100%;
}

.jumbotron {
    background-position:center ;
    min-height: 700px;
}

.form-control[type=text]{width:730px !important;} {
    
}

.agent-name{
    align-items: left;
 
}
 


.agent-intro {
    padding-left: 20px;
    padding-bottom: 10px;
    width: 60%;
    position: relative;
}

.agent-contact-card-wrapper {
    position: relative;
    left: 820px;
    top: -340px;
}

.agent-contact-card {
    border: ;
}

.contact-button {
    left: 100px;
}



.listing-header {
    text-align: center;
    margin-bottom: 100px;
}

.carousel-inner {
    width: 1400px;
    padding-left: 500px;
    margin-bottom: 170px;
    top: -40px;
}

.testimonial-text {
    margin-bottom: 70px;
    text-align: center;
}

.add-testimonial {
    padding-left: 200px;
    padding-right: 200px;
    
}

.add-testimonial-text {
    margin-bottom:70px ;
    text-align: center;
}

.form-button{
    padding-top: 20px;
    padding-left: 600px;
    
}

.search-homes {
    padding-top: 200px;
    padding-left: 300px;
    margin-bottom: 250px;
    
}

.search-homes-header {
    padding-right: 500px;
   text-align: center;
}



.search-form {
    padding-top: 90px;
}

.sort-options {
    padding-bottom: 30px;
} 

.radius-search {
    padding-bottom: 30px;
}

.search-textbox {
    padding-bottom: 20px;
}

#formControlRange {
    padding-bottom: 20px;
}

.min-price-input {
    padding-bottom: 20px;
}

.max-price-input {
    padding-bottom: 20px;
}

.mls-input {
    padding-bottom: 30px;
}

.open-houses-radio {
    padding-bottom: 30px;
}

.type-dropdown {
    padding-bottom: 30px; 
}

.sold-listings-header {
    text-align: center;
    padding-bottom: 100px;
}

.card-deck{
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.relocation-services {
    
}
